/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bgImg{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out 0s;
    -o-transition: opacity 1s ease-in-out 0s;
    transition: opacity 1s ease-in-out 0s;
}
.bgImgShow{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out 0s;
    -o-transition: opacity 1s ease-in-out 0s;
    transition: opacity 1s ease-in-out 0s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.4);
}
.line{
    background-color: #313233;
}
.lang-switch-ourwines {
    pointer-events: all;
    color: #313233!important;
    padding-left: 0rem;
    padding-right: 0.5rem;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.dropdown-menu.show{
    margin-left: 0.3125rem;
}
.landing-page{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo-link{
    position: relative;
}
.landing-page-logo{
    margin-top: -4%;
}
.logo{
    width: 100%;
}
.cont-wines{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.col-wines{
    z-index: 1;
    margin-top: 11%;
}
.wine{
    width: 100%;
}
.baseline{
    position: absolute;
    bottom: 11%;
}
.baseline h1{
    font-family: "bodonistditalic";
    font-size: 1.75rem;
    color: #4d2a18;
}
@media(max-width: 632px){
    .baseline h1{
        padding: 0 20px;
    }
}